<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Przeglądanie katalogu</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav class="navbar">
  <div class="nav-links">
    <a href="/product/">Produkty</a>
    <a href="/category/" th:if="${isAdmin}">Kategorie</a>
    <a href="/orders/" th:if="${isAdmin}">Zamowienia</a>
    <a href="/logout">Wyloguj</a>
  </div>
</nav>

<div class="nasze-produkty">
  <h2>Nasze produkty</h2>
  <a href="/product/add" class="add-icon" th:if="${isAdmin}">+</a>
</div>

<div class="products-grid">
  <a th:href="@{/product/{productId}/details(productId=${product.id})}"
     class="product-card"
     th:each="product : ${productList}">
    <img th:src="${product.image1}" class="product-image" alt="Product image">
    <div class="product-info">
      <div class="product-name" th:text="${product.name}">Nazwa produktu</div>
      <div class="product-price">
        <span th:text="${#numbers.formatDecimal(product.price,1,2)}">Cena produktu</span>zł
      </div>
      <div class="product-code" th:text="'kod: ' + ${product.id}">id produktu</div>
    </div>
  </a>
</div>
</body>
</html>
