<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Szczegóły produktu</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="product-details">
  <div class="header">
    <h1>Szczegóły produktu</h1>
    <div class="action-buttons" th:if="${isAdmin}">
      <a th:href="@{/product/{id}/edit(id=${product.id})}"
         class="action-button edit-button">✏️</a>
      <a th:href="@{/product/{id}/remove(id=${product.id})}"
         class="action-button delete-button"
         onclick="return confirm('Czy na pewno chcesz usunąć ten produkt?');">❌</a>
    </div>
  </div>

  <div class="details-grid">
    <div class="product-info">
      <div class="info-group">
        <div class="info-label">kod:</div>
        <div class="info-value" th:text="${product.id}">acx123</div>
      </div>
      <div class="info-group">
        <div class="info-label">Nazwa</div>
        <div class="info-value" th:text="${product.name}">Super pralka 300</div>
      </div>
      <div class="info-group">
        <div class="info-label">Cena</div>
        <div class="info-value">
          <span th:text="${#numbers.formatDecimal(product.price,1,2)}">500.99</span>zł
        </div>
      </div>
      <div class="info-group">
        <div class="info-label">Kategoria</div>
        <div class="info-value" th:text="${product.category.name}">Pralki</div>
      </div>
      <div class="info-group">
        <div class="info-label">Opis1</div>
        <div class="info-value" th:text="${product.description1}">Super pralka bardzo wydajna polecam każdemu ktoś</div>
      </div>
      <div class="info-group">
        <div class="info-label">Opis2</div>
        <div class="info-value" th:text="${product.description2}">Wysokość: 1.5m Szerokość: 0.5m Waga 50kg</div>
      </div>
    </div>

    <div class="photos-section details-view">
      <div class="photo-box">
        <img th:src="${product.image1}" alt="Product image1" th:if="${product.image1 != null and product.image1 != ''}">
      </div>

      <div class="photo-box">
        <img th:src="${product.image2}" alt="Product image2" th:if="${product.image2 != null and product.image2 != ''}">
      </div>

      <div class="photo-box">
        <img th:src="${product.image3}" alt="Product image3" th:if="${product.image3 != null and product.image3 != ''}">
      </div>

      <div class="photo-box">
        <img th:src="${product.image4}" alt="Product image4" th:if="${product.image4 != null and product.image4 != ''}">
      </div>
    </div>

    <div class="comments-section">
      <h2>Komentarze:</h2>

      <div th:each="comment : ${comments}">
        <div class="comment-box">
          <div class="comment-header">
            <div class="profile-image">
              <img src="https://static-00.iconduck.com/assets.00/profile-user-icon-1024x1024-5fg7tz2z.png" alt="Profil" class="profile-img" />
            </div>
            <div class="user-info">
              <strong th:text="${comment.user.userName}">Jan Kowalski</strong>
            </div>
            <div class="rating">
              <span th:text="${comment.rating}">5</span>/5
            </div>
          </div>

          <div class="comment-content">
            <p th:text="${comment.content}">Świetny produkt!</p>
          </div>

          <div th:if="${isAdmin}" class="delete-comment-container">
            <a th:href="@{/product/{productId}/remove-comment(productId=${product.id}, id=${comment.id})}"
               onclick="return confirm('Czy na pewno chcesz usunąć ten komentarz?');"
               class="delete-comment-btn">
              Usuń
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
